In [21]:
from sqlalchemy import create_engine, text
import pandas as pd
from sqlalchemy import inspect
import psycopg2

In [14]:
def get_database_connection():
    engine = create_engine(
        'postgresql+psycopg2://neondb_owner:npg_wsYAPzmg0I8S@ep-small-flower-a1nl3blu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require'
    )
    return engine

In [15]:
engine = get_database_connection()

inspector = inspect(engine)
print("Tables in Neon DB:", inspector.get_table_names())

Tables in Neon DB: ['daily_article_sentiment', 'us_economic_data_daily', 'stock_data']

In [28]:
# Step 1: Create a direct connection using psycopg2
conn = psycopg2.connect(
    host="ep-small-flower-a1nl3blu-pooler.ap-southeast-1.aws.neon.tech",
    database="neondb",
    user="neondb_owner",
    password="npg_wsYAPzmg0I8S",
    sslmode="require"
)

# Step 2: Load tables into pandas
df_sentiment = pd.read_sql("SELECT * FROM daily_article_sentiment", conn)
df_stock = pd.read_sql("SELECT * FROM stock_data", conn)
df_macro = pd.read_sql("SELECT * FROM us_economic_data_daily", conn)

# Step 3: Convert date columns
df_sentiment['date'] = pd.to_datetime(df_sentiment['date'])
df_stock['date'] = pd.to_datetime(df_stock['date'])
df_macro['date'] = pd.to_datetime(df_macro['date'])

# Step 4: Align stock_symbol column for merging
df_stock = df_stock.rename(columns={"ticker": "stock_symbol"})

# Step 5: Merge datasets
merged = pd.merge(df_stock, df_sentiment, on=["stock_symbol", "date"], how="outer")
final_merged = pd.merge(merged, df_macro, on="date", how="outer")

# Step 6: Sort and reset index
final_merged = final_merged.sort_values(by=["stock_symbol", "date"]).reset_index(drop=True)

# Step 7: Fill missing stock prices â€” backfill then forward-fill per stock
price_cols = [
    'open_price', 'high_price', 'low_price', 'close_price', 'adj_close', 'volume',
    'gdp', 'real_gdp', 'unemployment_rate', 'cpi', 'fed_funds_rate', 'sp500'
]
for col in price_cols:
    final_merged[col] = final_merged.groupby("stock_symbol")[col].transform(lambda g: g.ffill())

# Drop any remaining rows with missing values
final_merged = final_merged.dropna(subset=price_cols)
# Step 8: Fill sentiment and macro features
final_merged['daily_sentiment'] = final_merged['daily_sentiment'].fillna(0)
final_merged['article_count'] = final_merged['article_count'].fillna(0)
final_merged['sentiment_std'] = final_merged['sentiment_std'].fillna(0)

# Step 9: Create binary hasSentiment flag
final_merged['hasSentiment'] = final_merged['article_count'].apply(lambda x: 1 if x > 0 else 0)

# Step 10: Preview cleaned, ready-to-use merged dataset
final_merged.head()

/var/folders/w4/5fjrknc54qjdkx2hts27gd6m0000gn/T/ipykernel_3670/228114604.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sentiment = pd.read_sql("SELECT * FROM daily_article_sentiment", conn)
/var/folders/w4/5fjrknc54qjdkx2hts27gd6m0000gn/T/ipykernel_3670/228114604.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_stock = pd.read_sql("SELECT * FROM stock_data", conn)
/var/folders/w4/5fjrknc54qjdkx2hts27gd6m0000gn/T/ipykernel_3670/228114604.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_macro = pd.read_sql("SELECT * FROM us_economic_data_daily", conn)

,stock_symbol,date,open_price,high_price,low_price,close_price,adj_close,volume,daily_sentiment,article_count,sentiment_std,gdp,real_gdp,unemployment_rate,cpi,fed_funds_rate,sp500,hasSentiment
2,AAPL,2023-01-03,130.279999,130.899994,124.169998,125.070000,123.632538,112117500.0,-0.275862,29,0.628010,26272.011,22066.784,3.6,298.708,4.33,3824.14,1
3,AAPL,2023-01-04,126.889999,128.660004,125.080002,126.360001,124.907707,89113600.0,-0.102273,22,0.503908,26272.011,22066.784,3.6,298.708,4.33,3852.97,1
4,AAPL,2023-01-05,127.129997,127.769997,124.760002,125.019997,123.583099,80962700.0,0.102941,17,0.433543,26272.011,22066.784,3.6,298.708,4.33,3808.10,1
5,AAPL,2023-01-06,126.010002,130.289993,124.889999,129.619995,128.130219,87754700.0,0.279412,17,0.572019,26272.011,22066.784,3.6,298.708,4.33,3895.08,1
6,AAPL,2023-01-07,126.010002,130.289993,124.889999,129.619995,128.130219,87754700.0,0.178571,7,0.345033,26272.011,22066.784,3.6,298.708,4.33,3895.08,1